$color_a: #009144
$color_b: #e1d06c
$color_c: #222222
$color_d: #fff
$transition-duration: 0.5s
    
html
    margin: 0
    padding: 0

body
    margin: 0
    padding: 0

.wrapper-img
    margin: 0
    padding: 0
    display: flex
    align-items: center
    justify-content: center

    img
        margin: 0
        padding: 0
        width: 100%
        height: 100%

p
    font-size: 18px

    &.small
        font-size: 16px

.hide
    display: none !important

a
    text-decoration: none
    color: $color_a

.regular-width
    width: 1000px