html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
}

.wrapper-img {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper-img img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

p {
  font-size: 18px;
}
p.small {
  font-size: 16px;
}

.hide {
  display: none !important;
}

a {
  text-decoration: none;
  color: #009144;
}

.regular-width {
  width: 1000px;
  margin: 0 auto;
}
@media screen and (max-width: 1100px) {
  .regular-width {
    width: 90%;
  }
}

.small-width {
  width: 800px;
  margin: 0 auto;
}
@media screen and (max-width: 900px) {
  .small-width {
    width: 90%;
  }
}

header {
  width: 100%;
  position: sticky;
  top: -30px;
}
header.sticky {
  border-bottom: 1px solid rgba(34, 34, 34, 0.3);
}
header .top-bar {
  width: 100%;
  background-color: #009144;
}
header .top-bar .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
}
header .top-bar .content .links {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .top-bar .content .links .link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
header .top-bar .content .links .link .icon {
  height: 10px;
  width: 10px;
  margin-right: 5px;
  display: inline-block;
  fill: #fbdb7f;
}
header .top-bar .content .links .link a, header .top-bar .content .links .link p {
  display: inline-block;
  font-size: 10px;
  color: #fff;
}
header .top-bar .content .links .link a:hover {
  color: #fbdb7f;
}
header .top-bar .content .btn.small-cta {
  height: 100%;
  padding: 0 20px;
  line-height: 30px;
}
header .top-bar .content .btn.small-cta:hover {
  background-color: rgba(251, 219, 127, 0.9);
}
header .menu {
  width: 100%;
  background-color: #fff;
}
header .menu .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .menu .content .logo-btn-wrapper .logo {
  width: 150px;
  height: auto;
  margin: 15px 0;
}
header .menu .content .logo-btn-wrapper .logo img {
  height: inherit;
  width: inherit;
}
header .menu .content .logo-btn-wrapper #menu-btn {
  display: none;
  border: none;
  background: none;
  border: none;
  width: 30px;
  height: 30px;
}
header .menu .content .logo-btn-wrapper #menu-btn:focus {
  outline: none;
}
header .menu .content .logo-btn-wrapper #menu-btn svg {
  width: 100%;
  height: 100%;
}
header .menu .content nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header .menu .content nav ul li {
  list-style: none;
  font-size: 12px;
}
header .menu .content nav ul li a {
  color: #222222;
  font-weight: bold;
  transition-duration: 0.5s;
  padding: 0 15px;
  height: 40px;
  display: inline-block;
  line-height: 40px;
}
header .menu .content nav ul li a.active {
  color: #009144;
  cursor: default;
}
header .menu .content nav ul li a:hover:not(.active) {
  color: #009144;
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  header .top-bar .content .links .link.email {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  header .menu .content {
    flex-direction: column;
  }
  header .menu .content .logo-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  header .menu .content .logo-btn-wrapper #menu-btn {
    display: inline-block;
  }
  header .menu .content nav {
    width: 100%;
    text-align: left;
    top: 0;
    left: 0;
    height: 0;
    overflow: hidden;
    transition-duration: 0.5s;
  }
  header .menu .content nav.open {
    height: 165px;
  }
  header .menu .content nav ul {
    display: block;
    margin: 0;
    padding: 0;
  }
  header .menu .content nav ul li a {
    width: 100%;
    display: block;
  }
}
@media screen and (max-width: 420px) {
  header .top-bar {
    display: none;
  }
}

.contact section {
  margin-bottom: 60px;
}
.contact .header-bar-wrapper {
  width: 100%;
  background-color: #fbdb7f;
  padding: 30px 0;
}
.contact .header-bar-wrapper h1 {
  font-size: 43px;
  margin: 0;
}
.contact .header-bar-wrapper p {
  font-size: 13px;
  margin-top: 5px;
}
.contact .header-bar-wrapper p a {
  color: #222222;
}
.contact .wrapper-map {
  height: 350px;
}
.contact .wrapper-info-form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact .wrapper-info-form .info, .contact .wrapper-info-form form {
  width: 50%;
}
.contact .wrapper-info-form .info h2 {
  font-size: 18px;
  display: inline-block;
  background-color: #fbdb7f;
}
.contact .wrapper-info-form .info p {
  font-size: 16px;
  font-style: normal;
}
.contact .wrapper-info-form .info p .icon {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}
.contact .wrapper-info-form form input, .contact .wrapper-info-form form textarea {
  width: calc(100% - 40px);
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 3px;
  border: none;
  margin-bottom: 10px;
  background-color: rgba(34, 34, 34, 0.05);
  border: 1px solid rgba(34, 34, 34, 0.08);
  transition-duration: 0.5s;
}
.contact .wrapper-info-form form input:focus, .contact .wrapper-info-form form textarea:focus {
  outline: none;
  border: 1px solid rgba(34, 34, 34, 0.5);
}
.contact .wrapper-info-form form input:hover, .contact .wrapper-info-form form textarea:hover {
  font-size: 16px;
}
.contact .wrapper-info-form form input::placeholder, .contact .wrapper-info-form form textarea::placeholder {
  opacity: 0.6;
}
.contact .wrapper-info-form form input[type=submit], .contact .wrapper-info-form form textarea[type=submit] {
  background-color: #009144;
  color: #fff;
  padding: 10px 40px;
  width: auto;
}
.contact .wrapper-info-form form input[type=submit]:hover, .contact .wrapper-info-form form textarea[type=submit]:hover {
  font-size: 14px;
  background-color: rgba(0, 145, 68, 0.8);
}
.contact .wrapper-info-form form textarea {
  height: 100px;
  resize: none;
}
@media screen and (max-width: 850px) {
  .contact .wrapper-info-form {
    justify-content: space-evenly;
  }
  .contact .wrapper-info-form .info, .contact .wrapper-info-form form {
    width: 45%;
  }
}
@media screen and (max-width: 600px) {
  .contact .wrapper-info-form {
    flex-direction: column;
    justify-content: space-evenly;
  }
  .contact .wrapper-info-form .info, .contact .wrapper-info-form form {
    width: 100%;
  }
  .contact .wrapper-info-form .info {
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(34, 34, 34, 0.08);
  }
}

footer {
  color: #fff;
}
footer .middle {
  background-color: rgba(48, 52, 58, 0.85);
  padding-top: 50px;
  padding-bottom: 80px;
}
footer .middle .contact-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 50px;
}
footer .middle .contact-cards .card {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid #fbdb7f;
  transition-duration: 0.5s;
  width: 30%;
}
footer .middle .contact-cards .card:hover {
  background-color: #30343a;
}
footer .middle .contact-cards .card .icon {
  width: 30px;
  height: 30px;
  fill: #fbdb7f;
  padding: 30px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-bottom: none;
}
footer .middle .contact-cards .card .text-wrapper {
  width: calc(100% - 30px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-left: 0;
  border-bottom: none;
  height: 90px;
}
footer .middle .contact-cards .card .text-wrapper span {
  color: #fff;
  display: block;
  color: #fff;
  font-size: 12px;
}
footer .middle .contact-cards .card .text-wrapper p, footer .middle .contact-cards .card .text-wrapper a {
  font-size: 16px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
  margin: 0 auto;
  transition-duration: 0.5s;
  display: block;
  padding: 0;
}
footer .middle .contact-cards .card .text-wrapper a:hover {
  color: #fbdb7f;
}
footer .middle .widgets {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 12px;
}
footer .middle .widgets h4 {
  font-size: 13px;
  font-weight: 800;
  line-height: 60px;
  margin-top: 0;
  margin-bottom: 30px;
}
footer .middle .widgets article {
  width: 50%;
}
footer .middle .widgets article .content {
  margin: 0 auto;
  width: auto;
  margin-left: 25%;
}
footer .middle .widgets .socials .logo {
  width: auto;
  height: 60px;
  margin-bottom: 30px;
  justify-content: flex-start;
}
footer .middle .widgets .socials .logo img {
  width: auto;
  height: 80%;
  max-width: 100%;
}
footer .middle .widgets .socials address span {
  margin-bottom: 30px;
  display: block;
}
footer .middle .widgets .socials .icons {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
footer .middle .widgets .socials .icons .icon {
  border-radius: 50%;
  fill: #30343a;
  background-color: #fbdb7f;
  width: 10px;
  height: 10px;
  padding: 10px;
  margin-right: 5px;
}
footer .middle .widgets .socials .icons .icon:hover {
  fill: #fff;
  background-color: #009144;
}
footer .middle .widgets .pages ul {
  margin: 0;
  padding: 0;
}
footer .middle .widgets .pages ul li {
  list-style: none;
}
footer .middle .widgets .pages ul li a {
  color: #fbdb7f;
  margin-bottom: 20px;
  display: block;
}
footer .middle .widgets .pages ul li a:hover {
  opacity: 0.8;
}
footer .middle .widgets .suscribe p {
  font-size: 12px;
  margin-bottom: 20px;
}
footer .middle .widgets .suscribe form {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
footer .middle .widgets .suscribe form input, footer .middle .widgets .suscribe form button {
  border: none;
  margin: 0;
  padding: 0;
}
footer .middle .widgets .suscribe form input[type=email] {
  width: calc(100% - 70px);
  height: 35px;
  padding: 0 20px;
}
footer .middle .widgets .suscribe form input[type=email]:focus {
  outline: none;
  border: 2px solid #009144;
  width: calc(100% - 70px - 4px);
  height: 31px;
}
footer .middle .widgets .suscribe form button {
  width: 35px;
  height: 35px;
  background-color: #009144;
  cursor: pointer;
}
footer .middle .widgets .suscribe form button .icon {
  width: 15px;
  height: 15px;
  fill: #fff;
  margin: 0;
  padding: 0;
}
footer .bottom {
  background-color: #30343a;
}
footer .bottom .content {
  padding: 25px 0;
}
footer #go-top {
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #009144;
  opacity: 0.5;
  cursor: pointer;
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: inline-block;
}
footer #go-top:hover {
  opacity: 1;
}
footer #go-top svg {
  width: 60%;
  height: 60%;
  padding: 20%;
  transform: rotateZ(-90deg);
  fill: #fff;
}
footer #go-top:focus {
  outline: none;
}
@media screen and (max-width: 800px) {
  footer .middle .contact-cards .card {
    flex-direction: column;
    align-items: flex-start;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-bottom: 3px solid #fbdb7f;
    padding: 20px;
    width: calc(30% - 40px);
  }
  footer .middle .contact-cards .card .icon, footer .middle .contact-cards .card .text-wrapper {
    border: none;
  }
  footer .middle .contact-cards .card .icon {
    padding: 0;
    margin-bottom: 30px;
  }
  footer .middle .contact-cards .card .text-wrapper {
    justify-content: flex-start;
    height: auto;
  }
  footer .middle .contact-cards .card .text-wrapper a, footer .middle .contact-cards .card .text-wrapper p, footer .middle .contact-cards .card .text-wrapper span {
    margin: 0;
    padding: 0;
    text-align: left;
    width: 100%;
  }
  footer .bottom .content {
    text-align: center;
  }
}
@media screen and (max-width: 680px) {
  footer .middle .contact-cards {
    flex-direction: column;
  }
  footer .middle .contact-cards .card {
    margin-bottom: 20px;
    width: 90%;
    flex-direction: row;
    padding: 0;
  }
  footer .middle .contact-cards .card .icon {
    margin-bottom: 0;
    padding: 30px;
    padding-right: 0;
  }
  footer .middle .contact-cards .card .text-wrapper {
    justify-content: center;
    height: 90px;
  }
  footer .middle .contact-cards .card .text-wrapper a, footer .middle .contact-cards .card .text-wrapper p, footer .middle .contact-cards .card .text-wrapper span {
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  footer .middle {
    padding-bottom: 20px;
  }
  footer .middle .widgets {
    flex-direction: column;
  }
  footer .middle .widgets article {
    width: 100%;
  }
  footer .middle .widgets article .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
  }
  footer .middle .widgets article .content > * {
    display: inline-block;
  }
  footer .middle .widgets article .content .icons {
    margin-top: 0;
  }
  footer .middle .widgets article .content ul li {
    text-align: center;
  }
  footer .middle .widgets article .content h4 {
    margin-bottom: 0;
    margin-top: 30px;
  }
  footer .bottom .content {
    font-size: 10px;
  }
}

.btn.small-cta {
  border: none;
  background-color: #fbdb7f;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
}
.btn.small-cta:hover {
  background-color: rgba(251, 219, 127, 0.9);
}

/*# sourceMappingURL=styles_dd.css.map */
